ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}

.transfers {
  width: 232px;
  height: 252px;
  background-color: #ffffff;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);

  &__title {
    font-size: 12px;
    font-weight: 600;
    margin: 20px;
    margin-bottom: 10px;
  }
  .form-transitions {
    display: flex;
    white-space: nowrap;
    flex-direction: column;
  }
  .transfer-wrapper {
    height: 40px;
    display: flex;
    align-items: center;
    &:hover {
      background-color: RGBA(33, 150, 243, 0.1);
      cursor: url('../../img/decorate/Cursor.svg'), auto;
    }
  }

  .checkbox {
    display: flex;
    align-items: center;
    margin-left: 50px;
    font-size: 13px;
    height: 100%;
    width: 100%;
    cursor: url('../../img/decorate/Cursor.svg'), auto;

    &__input {
      position: absolute;
      width: 1px;
      height: 1px;
      margin: -1px;
      border: 0;
      padding: 0;
      clip: rect(0 0 0 0);
      overflow: hidden;
    }

    &__span {
      position: absolute;
      margin-left: -30px;
      width: 20px;
      height: 20px;
      background-image: url(../../img/decorate/Checkbox.svg);
    }
  }

  .checkbox__input:checked + .checkbox__span {
    background-image: url(../../img/decorate/Checkbox-checked.svg);
  }
}

@media screen and (min-width: 421px) {
}

@media screen and (max-width: 420px) {
}
