html {
  box-sizing: border-box;

  body {
    background-color: #e5e5e5;

    #root {
      display: flex;
      margin: auto;
      flex-direction: column;
      align-items: center;
      font-family: 'Open Sans', sans-serif;
      letter-spacing: 0.5px;
      background-color: #f3f7fa;
      // background-color: tomato;
      .wrapper {
        display: flex;
        // height: 100%;
      }
    }
  }
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/open-sans-v34-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''), url('../../fonts/open-sans-v34-latin-regular.eot?#iefix') format('embedded-opentype'),
    /* IE6-IE8 */ url('../../fonts/open-sans-v34-latin-regular.woff2') format('woff2'),
    /* Super Modern Browsers */ url('../../fonts/open-sans-v34-latin-regular.woff') format('woff'),
    /* Modern Browsers */ url('../../fonts/open-sans-v34-latin-regular.ttf') format('truetype'),
    /* Safari, Android, iOS */ url('../../fonts/open-sans-v34-latin-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

@media screen and (min-width: 421px) {
  #root {
    width: 960px;
  }
}

@media screen and (max-width: 420px) {
  // html {
  //   body {
  //     #root {
  //     }
  //   }
  // }
}
